<!DOCTYPE html>
<html lang="hi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for('static', filename='css/base.css' )}}>
    <link rel="shortcut icon" href={{url_for('static', filename='ico/favicon.svg' )}} type="image/x-icon">
    <link rel="apple-touch-icon" href="ico/favicon.svg">
    <meta name="google-site-verification" content="T_ghZTVRmBjxva0e9ljgiuo3pauPQxJtY75-DKkBKbM" />
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebSite",
          "url": "https://newsfatafat.vercel.app",
          "name": "NewsFatafat",
          "potentialAction": []
        }
        </script>
    {% block seo %}

    {% endblock %}

</head>

<body>
    <nav id="hemu">
        <div id="logo">
            <img id="mnicon" onclick="notvisi()" src="{{url_for('static', filename='ico/menu_black_24dp.svg')}}"
                alt="menu">
            <a href="/" title="NewsFatafat">
                <p>NewsFatafat</p>
            </a>
        </div>
        <div id="menug">
            <ul id="ul" class="notvisi">
                <li>
                    <a href="/" onclick="setama()" title="home">
                        Home
                    </a>
                </li>
                <!-- <li>
                    <a href="/entertainment" title="Trailer">
                        Entertainment
                    </a>
                </li> -->
                <!-- <li>
                    <a href="/science" title="Movie">
                        Science
                    </a>
                </li> -->
                <!-- <li>
                    <a href="/sports" title="Song">
                        Sports
                    </a>
                </li> -->
                <li>
                    <a href="/static/sitemap.xml" title="sitemap">
                        Sitemap
                    </a>
                </li>
                <li>
                    <a href="https://www.lowoncost.xyz/" title="Lowoncost.xyz">
                        Lowoncost
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    
    {% block content %}

    {% endblock %}
    <footer>
        <div class="footerKid">
            <span style="font-weight: 600;">NewsFatafat</span>
            <p>Read Amazing short news in Hindi. Souce InshortNews. Get your updates in short time.</p>
            
           
        </div>
        <div class="footerKid">
            <span style="font-weight: 600;">Some Categories</span>
            <a href="/science" title="Read Science News"> Science</a>
            <a href="/sports" title="Read Sports News">Sports</a>
            <a href="/entertainment" title="Read Entertainment">Entertainment</a>
        </div>
        <div class="footerKid">
            <a href="https://www.facebook.com/people/Newsfatafat/61552374107088/" title="facebook page link">Facebook Page</a>
            <a href="/" title="contact page">Contact Us</a>
            <a href="/source" title="News source">News Source</a>
        </div>
        <div class="footerKid">
            <a href="https://dealsfind.vercel.app/" title="Find Deals" target="_blank"> Find Deals</a>
            <a href="https://www.mastiflicks.site/" title="mastiflicks news site" target="_blank"> Entertainment news</a>
            <a href="https://earbuzz.site/" title="Premium earphones" target="_blank"> Earbuzz</a>
            
        </div>
    </footer>
</body>
<script>
    function notvisi() {

        let btn = document.getElementById('ul');
        btn.classList.toggle('notvisi')
        console.log("manu")
    }
</script>

</html>
