<!-- # this card will replace the index.html page -->


{% from "title_macro.html" import replacedtitle %}
{% macro card(cat) -%}

<div class="card-grid" id="cardGrid">
    {% for item in dbdata %}

    {% set title = item["title"]| lower %}

    <div class="card">
        <a href="/news/{{cat}}/{{item['id']}}" class="card-url"  title='{{replacedtitle(title)}}'>
            <img src="{{item['imageUrl']}}" alt='{{title}}' class="card-image">
            <div class="card-content">
                <h2 class="card-title">{{item["title"]}}</h2>
                <p class="card-date">{{item["date"]}}</p>
                <p class="card-description">{{item["content"]}}</p>
            </div>
        </a>
        <div class="card-footer">
            <span class="card-category">{{cat |title}}</span>
            <button class="share-button">Share</button>
        </div>

    </div>
    {% endfor%}
</div>

{%- endmacro %}

{%extends"base.html" %}
{% block seo %}
<title> Short news and updates with NewsFatafat</title>
<meta name="description"
    content="Get your daily dose of news  & more in bite-sized articles. Ditch the endless search, visit NewsFatafat for for short News and fast updates.">
<link rel="stylesheet" href="{{url_for('static', filename='css/card.css')}}">
<meta name="keywords" content="news, entertainment news, sports, science news">
{% endblock %}

{% block content %}

{{dbdata[]}}
<div class="container">

    {%if cate == None %}


    <h1 id='snews'>All tranding Short News over Globe </h1>
    <!-- <h2>Featured Articles</h2> -->
    {% include 'categories.html' %}
    {{card("all")}}
    <section>
        <div class="load-more-container">
            <button class="load-more-button" id="loadMoreButton" onclick="loadmore()">Load More</button>
        </div>
    </section>
    {% else %}
    <h1 id='snews'>Buzz from {{cate|title}} Section</h1>
    {% include 'categories.html' %}
    {{card(cate)}}
    <section>
        <div class="load-more-container">
            <button class="load-more-button" id="loadMoreButton" onclick="loadmore()">Load More</button>
        </div>
    </section>
    {%endif%}



</div>

<script>
    // Share button functionality
    document.querySelectorAll('.share-button').forEach(button => {
        button.addEventListener('click', function () {
            const card = this.closest('.card');
            const title = card.querySelector('.card-title').textContent;
            //const description = card.querySelector('.card-description').textContent;
            const description = "Click the link below to read this short news"
            const url = card.querySelector('.card-url').href;
            //console.log(url.href)
            //const url = window.location.href;

            const shareData = {
                title: title,
                text: description,
                url: url
            };

            if (navigator.share) {
                navigator.share(shareData)
                    .then(() => console.log('Shared successfully'))
                    .catch((error) => console.log('Error sharing:', error));
            } else {
                alert('Share feature is not supported in your browser. You can copy this URL to share: ' + url);
            }
        });
    });

    let cat = "{{cate}}"
    if (cat == "None") {
        cat = "all"
    }
    //console.log(cat)
    let loadbut = document.getElementById("loadMoreButton")
    let a = document.createElement("a")
    a.setAttribute("href", `/?page=2&category=${cat}`)
    loadbut.appendChild = a;
    let initial = 1
    async function loadmore() {
        //res = await fetch("/mongo?page=2")
        const res = await fetch(`/?page=${initial}&category=${cat}`, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' }, // Set the content type
            body: { "name": "lol" } // Convert data to JSON for the body
        });
        data = await res.text()
        //console.log(data)
        if (data !== "No More news") {
            let html = data
            let newsdiv = document.getElementById("cardGrid")
            newsdiv.insertAdjacentHTML("beforeend", html)

        } else {
            loadbut.remove()
        }

        initial++
    }
    


</script>
{% endblock %}