<section>
    <!-- <h2>Our Categories</h2> -->
    <div class="category-container">
        <div class="category-grid">
            
            <div class="category-item">
                <a class="category-name" href="/science">Science</a>
                <!-- <div class="category-name">Science</div> -->
            </div>
            <div class="category-item">
                <a class="category-name" href="/technology">Technology</a>
                
            </div>
            <div class="category-item">
                <a class="category-name" href="/sports">Sports</a>
               
            </div>
            <div class="category-item">
                <a class="category-name" href="/entertainment">Entertainment</a>
                <!-- <div class="Entertainment">Entertainment</div> -->
            </div>
        </div>
    </div>
</section>