
{%extends"base.html" %}
{% block seo %}
<title></title>
<meta name="description" content="lol">
<meta property="og:title" content="lol" />
<meta property="og:description" content="" />
{% endblock %}


{% block content %}


<div id='pagenews'>
  <div id='newsdiv'>
    <h1 class='head'>About the source of the News</h1>
    <img src='https://inshorts.com/assets/images/favicon.png' loading='lazy' alt="Source icon">
    <p class='para'>We do not hold any copyright to these news. The site is maintained for learning purposes only.</p>
    <p class='para'>The news on our website  are sourced from inshorts.com. We convert those news stories and post them on our site. Remember, we do not promote any kind of piracy, and we do not support piracy. The posted news are only some chunks of news that have been uploaded on our website from inshorts.com. For all news and updates, check there website and the source that they provide.</p>
    <a href='https://inshorts.com/' title='Inshort News' target="_blank">
      <button class="catbut">Check Source...</button>
    </a>
  </div>
</div>



{% endblock %}