{% set title = dbdata["title"] %}
{% from "title_macro.html" import replacedtitle %}
{% set seotitle = replacedtitle(title)| lower%}
{%extends"base.html" %}
{% block seo %}
<title>{{title}}</title>
<meta name="description" content="{{dbdata['content'][:130]}}...">
<meta property="og:title" content="{{title}}" />
<meta property="og:description" content="{{dbdata['content'][:150]}}..." />
<meta property="og:image" content="{{dbdata['imageUrl']}}" />
<!-- <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> -->
<link rel="stylesheet" href="{{url_for('static', filename='css/card.css')}}">
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "ImageObject",
    "url": "{{dbdata['imageUrl']}}",
    "contentUrl": "{{dbdata['imageUrl']}}",
    "name": "{{title[:50]}}",
    "description": "{{title}}",
    "width": 800,
    "height": 600
  }
</script>
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage"
        
      },
      "headline": "{{title}} ",
      "description": "{{dbdata['content'][:200]}}",
      "image": "{{dbdata["imageUrl"]}}",
      "author": {
        "@type": "Website",
        "name": "NewsFatafat"
      },
      "datePublished": "{{dbdata["date"]}}",
      "url": "https://newsfatafat.vercel.app/news/{{cate}}/{{ids}}"

    }
</script>
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "item": "https://newsfatafat.vercel.app/"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "{{cate}}",
        "item": "https://newsfatafat.vercel.app/{{cate}}"
      },{
        "@type": "ListItem",
        "position": 3,
        "name": "{{dbdata["title"]}}"
      }]
    }
    </script>

{% endblock %}


{% block content %}

<div class="newscard">
    <div class="card read">
            <img src="{{dbdata['imageUrl']}}" alt='{{title}}' class="card-image">
            <div class="card-content">
                <h1 class="read-card-title">{{dbdata["title"]}}</h1>
                <p class="card-date">{{dbdata["date"]}}</p>
                <p class="read-card-description">{{dbdata["content"]}}</p>
            </div>
        </a>
        <div class="card-footer">
            <a href='{{dbdata["url"]}}' title='Inshort News' target="_blank">
            <!-- <span class="card-category">{{cat |title}}</span> -->
                <button class="card-category">Source</button>
            </a>
            <button class="share-button">Share</button>
        </div>

    </div>

</div>
<!-- <div id='pagenews'>
  <div id='newsdiv'>
    <h1 class='head'>{{dbdata["title"]}}</h1>
    <img src='{{dbdata["imageUrl"]}}' loading='lazy' alt={{title}}>
    <p class='para'>{{dbdata["date"]}}</p>
    <p class='para'>{{dbdata["content"]}}</p>
    <a href='{{dbdata["url"]}}' title='Inshort News' target="_blank">
      <button class="catbut">Check Source...</button>
    </a>
  </div> -->
</div>


<!-- <p class="head" style="font-size:x-large; font-weight: bolder; text-align:center; margin: 5px 4px;"> Reade More</p>
{%if alldata ==[] -%}
<a href='/' title='read more' style="font-size:large; font-weight: bolder; text-align:center; margin: 5px 5px;">
    <p class='catbut'>Click Here to Read More...</p>
</a>
{%else%}
<div id='news'>
    
    {% for item in alldata |reverse %}
    
    {% set alltitle = replacedtitle(item[0]["title"])|lower %}
    
    <div class='kid1'>
        
        <a href="/news/{{cate}}/{{item[0]['id']}}/{{alltitle}}" title='{{item[0]["title"]}}'>
            <div>
                <h2 class='head'>{{item[0]["title"]}}</h2>
                <img src='{{item[0]["imageUrl"]}}' loading='lazy' alt={{title}}>
                <p class='para'>{{item[0]["date"]}}</p>
                <p class='para'>{{item[0]["content"]}}</p>
            </div>
        </a>
        <a href='/{{item[0]["cat"]}}' title='{{item[0]["cat"]}}'>
            <p class='catbut'>{{item[0]["cat"]}}</p>
        </a>
    </div>
    {%endfor %} -->

<!-- </div>
{%- endif%} -->


<script>
    // Share button functionality
    document.querySelectorAll('.share-button').forEach(button => {
        button.addEventListener('click', function () {
            const card = this.closest('.card');
            const title = card.querySelector('.read-card-title').textContent;
            //const description = card.querySelector('.card-description').textContent;
            const description = "Click the link below to read this short news"
            //const url = card.querySelector('.card-url').href;
            //console.log(url.href)
            const url = window.location.href;

            const shareData = {
                title: title,
                text: description,
                url: url
            };

            if (navigator.share) {
                navigator.share(shareData)
                    .then(() => console.log('Shared successfully'))
                    .catch((error) => console.log('Error sharing:', error));
            } else {
                alert('Share feature is not supported in your browser. You can copy this URL to share: ' + url);
            }
        });
    });

</script>
{% endblock %}
