{% set title = dbdata["title"] %}
{% from "title_macro.html" import replacedtitle %}
{% set seotitle = replacedtitle(title)| lower%}
{%extends"base.html" %}
{% block seo %}
<title>{{title}}</title>
<meta name="description" content="{{dbdata['content'][:200]}}">
<meta property="og:title" content="{{title}}" />
<meta property="og:description" content="{{dbdata['content'][:200]}}" />
<meta property="og:image" content="{{dbdata['imageUrl']}}" />

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage"
        
      },
      "headline": "{{title}} ",
      "description": "{{dbdata['content'][:200]}}",
      "image": "{{dbdata["imageUrl"]}}",
      "author": {
        "@type": "Website",
        "name": "NewsFatafat"
      },
      "datePublished": "{{dbdata["date"]}}",
      "url": "https://newsfatafat.vercel.app/news/{{cate}}/{{ids}}/{{ seotitle }}"

    }
</script>
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "item": "https://newsfatafat.vercel.app/"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "{{cate}}",
        "item": "https://newsfatafat.vercel.app/{{dcate}}"
      },{
        "@type": "ListItem",
        "position": 3,
        "name": "{{dbdata["title"]}}"
      }]
    }
    </script>

{% endblock %}


{% block content %}


<div id='pagenews'>
  <div id='newsdiv'>
    <h1 class='head'>{{dbdata["title"]}}</h1>
    <img src='{{dbdata["imageUrl"]}}' loading='lazy' alt={{title}}>
    <p class='para'>{{dbdata["date"]}}</p>
    <p class='para'>{{dbdata["content"]}}</p>
    <a href='{{dbdata["url"]}}' title='Inshort News' target="_blank">
      <button class="catbut">Check Source...</button>
    </a>
  </div>
</div>


<!-- <p class="head" style="font-size:x-large; font-weight: bolder; text-align:center; margin: 5px 4px;"> Reade More</p>
{%if alldata ==[] -%}
<a href='/' title='read more' style="font-size:large; font-weight: bolder; text-align:center; margin: 5px 5px;">
    <p class='catbut'>Click Here to Read More...</p>
</a>
{%else%}
<div id='news'>
    
    {% for item in alldata |reverse %}
    
    {% set alltitle = replacedtitle(item[0]["title"])|lower %}
    
    <div class='kid1'>
        
        <a href="/news/{{cate}}/{{item[0]['id']}}/{{alltitle}}" title='{{item[0]["title"]}}'>
            <div>
                <h2 class='head'>{{item[0]["title"]}}</h2>
                <img src='{{item[0]["imageUrl"]}}' loading='lazy' alt={{title}}>
                <p class='para'>{{item[0]["date"]}}</p>
                <p class='para'>{{item[0]["content"]}}</p>
            </div>
        </a>
        <a href='/{{item[0]["cat"]}}' title='{{item[0]["cat"]}}'>
            <p class='catbut'>{{item[0]["cat"]}}</p>
        </a>
    </div>
    {%endfor %} -->

<!-- </div>
{%- endif%} -->
{% endblock %}
